body {
  background-color: #cbcbcb;
  margin: 0 auto;
  width: 1000px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: url('minesweeperr_03.jpg') repeat fixed;
  background-color: #4e5157;
  background-blend-mode: multiply;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  margin: 30px 0;
}

select {
  padding: 5px 10px;
  margin-right: 10px;
  font-size: 1.2em;
  border-style: outset;
  border-width: 4px;
  border-color: #fff #cbcbcb #cbcbcb #fff;
  background-color: #e1e1e1;
  outline: 0;
}

table {
  margin: 0 auto;
  table-layout: fixed;
  margin-top: 30px;
  border-style: inset;
  border-width: 4px;
  border-color: #cbcbcb #fff #fff #cbcbcb;
  background-color: #e1e1e1;
}

table tbody {
  border-collapse: collapse;
  display: table-cell;
}

table td {
  font-weight: bold;
  height: 32px;
  width: 32px;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid gray;
  font-family: 'Chango';
  font-size: 1.2em;
}

button {
  border-style: outset;
  border-width: 4px;
  border-color: #fff #cbcbcb #cbcbcb #fff;
  background-color: #e1e1e1;
  outline: 0;
  cursor: pointer;
  padding:0;
}

form button {
  padding: 5px 10px;
  font-size: 1.2em;
}

td button {
  height: 100%;
  width: 100%;
}

.bomb {
  background-color: rgb(210, 38, 0);
}

.game-over,
.win {
  position: absolute;
  top: 100px;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  box-sizing: border-box;
  font-family: 'Chango', cursive;
  color: rgb(255, 0, 0);
  font-size: 1.4em;
}

.game-header {
  border-style: outset;
  border-width: 4px;
  border-color: #fff #cbcbcb #cbcbcb #fff;
  background-color: #e1e1e1;
  width: 230px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.game-header div {
  border-style: outset;
  border-width: 4px;
  border-color: #fff #cbcbcb #cbcbcb #fff;
  background-color: #e1e1e1;
  padding: 5px 10px;
  font-size: 1.2em;
}

.one {
  color: #0031fb;
}

.two {
  color: #0a7916;
}

.three {
  color: #ff0001;
}

.four {
 color: #001279;
}
