body {
  font-family: 'Nerko One', cursive;
  margin: 50px auto;
  width: 900px;
  box-sizing: border-box;
  background-color: rgb(151, 196, 211);
  text-align: center;
  color: rgb(0, 41, 74);
}

input {
  border-radius: 2px;
  border: 1px solid steelblue;
  background-color: white;
}

input[type='submit'] {
  border: 1px solid steelblue;
  color: rgb(0, 41, 74);
  margin-left: 5px;
  font-family: 'Nerko One', cursive;
}

tr, td {
  background-color: white;
}

.names, th, .totals {
  border: 2px solid steelblue;
}

.totals {
  text-align: center;
}

table table {
  table-layout: fixed;
}

table {
  border: 2px solid steelblue;
  background-color: white;
}

table table {
  background-color: lightblue;
  border: 2px solid steelblue;
} 

table table td {
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid steelblue;
}

.score-input {
  margin: 30px 0 10px;
}

.warning {
  color: red;
  display: inline;
}

/* .current-player td {
  background-color: lightgreen;
}

tr td.current-frame {
  background-color: lightyellow;
} */

tr td.current-shot {
  background-color: lightpink;
}