body {
  font-family: 'Nerko One', cursive;
  margin: 0 auto 50px;
  width: 960px;
  box-sizing: border-box;
  background-color: #345179;
  text-align: center;
  font-weight: 300;
  font-size: 1.2em;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(52,81,121,1) 52%, rgba(2,0,36,1) 100%);
}

input {
  border-radius: 2px;
  border: 1px solid steelblue;
  background-color: white;
  margin-left: 10px;
}

input[type='submit'],
button {
  border: 1px solid steelblue;
  color: rgb(0, 41, 74);
  font-family: 'Nerko One', cursive;
}

button {
  font-size: 1.2em;
  border-radius: 2px;
  background-color: white;
}

tr, td {
  background-color: white;
}

.names, th, .totals {
  border: 2px solid steelblue;
}

.names {
  min-width: 80px;
}

.totals {
  text-align: center;
}

table table {
  table-layout: fixed;
}

table {
  border: 2px solid white;
  color: #345179;
  background-color: #345179;
}

table table {
  background-color: #345179;
  border: 2px solid steelblue;
} 

table table td {
  width: 30px;
  height: 30px;
  text-align: center;
}

.score-input {
  margin: 30px 0 10px;
}

.warning {
  color: rgb(237, 45, 109);
  margin-left: 10px;
  display: inline;
}

tr td.current-shot {
  background-color: rgb(237, 45, 109);
}

label {
  display: block;
  color: white;
}

.score-input label {
  display: inline-block;
}

.player-input label {
  margin-bottom: 5px;
}

.winner {
  color: rgb(237, 45, 109);
  margin: 30px auto 0;
  font-size: 1.5em;
}

.winner div {
  display: inline-block;
}

.winner .text {
  line-height: 108px;
  vertical-align: top;
  margin: 0 30px;
}
